.navbar-brand {
    font-family: Raleway, sans-serif !important;
    font-size: 2rem;
}

.links {
    font-family: Raleway, sans-serif !important;

    h5 {
        font-weight: 100 !important;
    }
}
